*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
}
body{
    background-color: #E7F3FF;
}
nav{
    background-color: #516685;
}

.logo{
    width: 200px;
}
.navbar .getstarted {
    max-width: 100%;
    background: #516685e7;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    line-height: 2.3;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.navbar-light .navbar-brand {
    width: 300px;
    margin-right: 45%;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}
.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: white;
}
.texta{
    margin: 8% 0% 3% 3%;
    color: #516685;
    font-weight: 500;
}
.texta h2{
    font-weight: bold;
}
.col-2{
    width: 15%;
    margin: 1% 0% 0% 2.5%;

}
.row{
    margin-left: 5%;
    width: 90%;
    --bs-gutter-x: 0;
    background-color: #516685;
    padding-bottom: 10px;
    justify-content: center;
    border-radius: 10px;
}
#select1{
    padding: 0px;
    padding-left: 10px;
    border: 1px solid #516685;
    height: 30px;
    width: 60%;
    color: #516685;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search{
    display: flex;
    height: 30px;
    width: 25%;
    margin: 8% 3% 3% 3%;
    background-color: #fff;
    justify-content: space-between;
}

.top{
    display: flex;
    justify-content: space-between;
}
.aplikimi{
    margin: 3% 0% 3% 8%;
    border: solid 1px black;
    background-color: white;
    width: 80%;
    height: 105px;
    display: flex;
    justify-content: space-between;
}
.firstbox{
    display: flex;
    margin: auto;
}
.firstbox h3:hover{
    cursor: pointer;
}
.favorite {
    margin-left: 85%;
    display: block;
    font-size: x-large;
}
.favorite i:hover{
    cursor: pointer;
}
.favorite h5{
    top: 40%;
    position: relative;
}

.secondbox{
    display: flex;
    align-items: center;
    border-left: 1px solid;
    width: 15%;
    text-align: center;
    font-size: small;
}
.secondbox h2{
    font-size: x-large  ;
}
.secondbox:hover{
    cursor: pointer;
}
